<?xml version="1.0" encoding="UTF-8"?>

<hsdoc version="1.1.0">
  <info cname="客户管理"/>
  <extendMap>
    <entity>
      <key>module_rev_his_key</key>
      <value><![CDATA[<?xml version="1.0" encoding="UTF-8"?>
<core:ModuleRevisionHistoryList xmlns:core="http://www.hundsun.com/ares/studio/jres/core/1.0.0"/>
]]></value>
    </entity>
    <entity>
      <key>ModuleExtensibleModel</key>
      <value><![CDATA[<?xml version="1.0" encoding="UTF-8"?>
<core:ModuleExtensibleModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:chouse="http://www.hundsun.com/ares/studio/jres/database/chouse/1.0.0" xmlns:core="http://www.hundsun.com/ares/studio/jres/core/1.0.0">
  <data2 key="chouse">
    <value xsi:type="chouse:TableBaseProperty"/>
  </data2>
</core:ModuleExtensibleModel>
]]></value>
    </entity>
  </extendMap>
</hsdoc>
