<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:flow2="http://www.hundsun.com/ares/studio/jres/flow2" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.1/notation" xmlns:service2="http://www.hundsun.com/ares/studio/jres/service2">
  <service2:ServiceModel xmi:id="_UfE6MLyqEd-RFcZryA9HKA" name="修改子交易">
    <inputDefines xmi:type="flow2:InputParameterDefine" xmi:id="_qAGysLyqEd-RFcZryA9HKA" id="resCode" javaType="String">
      <defaultValue2 xmi:type="flow2:ParameterValue" xmi:id="_qAGysbyqEd-RFcZryA9HKA"/>
    </inputDefines>
    <inputDefines xmi:type="flow2:InputParameterDefine" xmi:id="_rF0dkLyqEd-RFcZryA9HKA" id="opCode" javaType="String">
      <defaultValue2 xmi:type="flow2:ParameterValue" xmi:id="_rF0dkbyqEd-RFcZryA9HKA"/>
    </inputDefines>
    <unit xmi:type="flow2:LogicUnit" xmi:id="_UfE6MbyqEd-RFcZryA9HKA">
      <info xmi:type="flow2:LogicUnitInfo" xmi:id="_UfE6MryqEd-RFcZryA9HKA"/>
      <children xmi:type="flow2:FlowNode" xmi:id="_ti-cgLyqEd-RFcZryA9HKA" id="action_7" name="action_7">
        <info xmi:type="flow2:ComponentMethodInfo" xmi:id="_ti-cgryqEd-RFcZryA9HKA" fullyQualifiedName="bizframe.authority.subSysTrans.SubSysTransService" methodName="action">
          <inputParameters xmi:type="flow2:InputParameter" xmi:id="_ti-cg7yqEd-RFcZryA9HKA" id="context" javaType="com.hundsun.jres.interfaces.bizkernel.runtime.core.IContext" name="context"/>
          <outputParameters xmi:type="flow2:OutputParameter" xmi:id="_ti-chLyqEd-RFcZryA9HKA" id="action_result" javaType="com.hundsun.jres.interfaces.share.dataset.IDataset"/>
        </info>
      </children>
    </unit>
  </service2:ServiceModel>
  <notation:Diagram xmi:id="_Uh6Lw7yqEd-RFcZryA9HKA" type="Flow2" element="_UfE6MLyqEd-RFcZryA9HKA" measurementUnit="Pixel">
    <children xmi:type="notation:Node" xmi:id="_Uq_2ULyqEd-RFcZryA9HKA" type="1001" element="_UfE6MbyqEd-RFcZryA9HKA">
      <children xmi:type="notation:Node" xmi:id="_Uq_2U7yqEd-RFcZryA9HKA" type="5001">
        <children xmi:type="notation:Node" xmi:id="_ti-chbyqEd-RFcZryA9HKA" type="2001" element="_ti-cgLyqEd-RFcZryA9HKA">
          <children xmi:type="notation:Node" xmi:id="_ti-ciLyqEd-RFcZryA9HKA" type="4001"/>
          <children xmi:type="notation:Node" xmi:id="_ti-cibyqEd-RFcZryA9HKA" type="5002">
            <styles xmi:type="notation:DrawerStyle" xmi:id="_ti-ciryqEd-RFcZryA9HKA"/>
            <styles xmi:type="notation:SortingStyle" xmi:id="_ti-ci7yqEd-RFcZryA9HKA"/>
            <styles xmi:type="notation:FilteringStyle" xmi:id="_ti-cjLyqEd-RFcZryA9HKA"/>
          </children>
          <styles xmi:type="notation:ShapeStyle" xmi:id="_ti-chryqEd-RFcZryA9HKA" fontName="宋体"/>
          <layoutConstraint xmi:type="notation:Bounds" xmi:id="_ti-ch7yqEd-RFcZryA9HKA"/>
        </children>
        <styles xmi:type="notation:SortingStyle" xmi:id="_Uq_2VLyqEd-RFcZryA9HKA"/>
        <styles xmi:type="notation:FilteringStyle" xmi:id="_Uq_2VbyqEd-RFcZryA9HKA"/>
      </children>
      <styles xmi:type="notation:ShapeStyle" xmi:id="_Uq_2UbyqEd-RFcZryA9HKA" fontName="宋体"/>
      <layoutConstraint xmi:type="notation:Bounds" xmi:id="_Uq_2UryqEd-RFcZryA9HKA"/>
    </children>
    <styles xmi:type="notation:DiagramStyle" xmi:id="_Uh6LxLyqEd-RFcZryA9HKA"/>
  </notation:Diagram>
</xmi:XMI>
