<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:flow2="http://www.hundsun.com/ares/studio/jres/flow2" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.1/notation" xmlns:service2="http://www.hundsun.com/ares/studio/jres/service2">
  <service2:ServiceModel xmi:id="_sf0zxaqeEd-E9O-ihdIKYg" name="修改字典条目" inputCollection="true">
    <unit xmi:type="flow2:LogicUnit" xmi:id="_sf0zzaqeEd-E9O-ihdIKYg" id="15">
      <info xmi:type="flow2:LogicUnitInfo" xmi:id="_sf0zzqqeEd-E9O-ihdIKYg"/>
      <children xmi:type="flow2:FlowNode" xmi:id="_sF7gcL7_Ed-qdrVp5XE3fA" id="editService" name="editService">
        <info xmi:type="flow2:ComponentMethodInfo" xmi:id="_sF7gcr7_Ed-qdrVp5XE3fA" fullyQualifiedName="bizframe.dictionary.SysDictEntryService" methodName="action">
          <inputParameters xmi:type="flow2:InputParameter" xmi:id="_bx-SUEywEeCxSJB_BAqavA" id="context" javaType="com.hundsun.jres.interfaces.bizkernel.runtime.core.IContext" name="context"/>
          <outputParameters xmi:type="flow2:OutputParameter" xmi:id="_sF7gdL7_Ed-qdrVp5XE3fA" javaType="void"/>
        </info>
      </children>
    </unit>
  </service2:ServiceModel>
  <notation:Diagram xmi:id="_pnRsvb7_Ed-qdrVp5XE3fA" type="Flow2" element="_sf0zxaqeEd-E9O-ihdIKYg" measurementUnit="Pixel">
    <children xmi:type="notation:Node" xmi:id="_pw0DML7_Ed-qdrVp5XE3fA" type="1001" element="_sf0zzaqeEd-E9O-ihdIKYg">
      <children xmi:type="notation:Node" xmi:id="_pw0DM77_Ed-qdrVp5XE3fA" type="5001">
        <children xmi:type="notation:Node" xmi:id="_sF7gdb7_Ed-qdrVp5XE3fA" type="2001" element="_sF7gcL7_Ed-qdrVp5XE3fA">
          <children xmi:type="notation:Node" xmi:id="_sF7geL7_Ed-qdrVp5XE3fA" type="4001"/>
          <children xmi:type="notation:Node" xmi:id="_sF7geb7_Ed-qdrVp5XE3fA" type="5002">
            <styles xmi:type="notation:DrawerStyle" xmi:id="_sF7ger7_Ed-qdrVp5XE3fA"/>
            <styles xmi:type="notation:SortingStyle" xmi:id="_sF7ge77_Ed-qdrVp5XE3fA"/>
            <styles xmi:type="notation:FilteringStyle" xmi:id="_sF7gfL7_Ed-qdrVp5XE3fA"/>
          </children>
          <styles xmi:type="notation:ShapeStyle" xmi:id="_sF7gdr7_Ed-qdrVp5XE3fA"/>
          <layoutConstraint xmi:type="notation:Bounds" xmi:id="_sF7gd77_Ed-qdrVp5XE3fA"/>
        </children>
        <styles xmi:type="notation:SortingStyle" xmi:id="_pw0DNL7_Ed-qdrVp5XE3fA"/>
        <styles xmi:type="notation:FilteringStyle" xmi:id="_pw0DNb7_Ed-qdrVp5XE3fA"/>
      </children>
      <styles xmi:type="notation:ShapeStyle" xmi:id="_pw0DMb7_Ed-qdrVp5XE3fA"/>
      <layoutConstraint xmi:type="notation:Bounds" xmi:id="_pw0DMr7_Ed-qdrVp5XE3fA"/>
    </children>
    <styles xmi:type="notation:DiagramStyle" xmi:id="_pnRsvr7_Ed-qdrVp5XE3fA"/>
  </notation:Diagram>
</xmi:XMI>
