<?xml version="1.0" encoding="UTF-8"?>
<service2:ServiceModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:flow2="http://www.hundsun.com/ares/studio/jres/flow2" xmlns:service2="http://www.hundsun.com/ares/studio/jres/service2" name="下载机构" desc="下载机构">
  <inputDefines id="resCode" javaType="String">
    <defaultValue2/>
  </inputDefines>
  <inputDefines id="opCode" javaType="String">
    <defaultValue2/>
  </inputDefines>
  <unit>
    <info xsi:type="flow2:LogicUnitInfo"/>
    <children id="downloadService" name="downloadService">
      <info xsi:type="flow2:ComponentMethodInfo" fullyQualifiedName="bizframe.authority.branch.SysBranchService" methodName="action">
        <inputParameters id="context" javaType="com.hundsun.jres.interfaces.bizkernel.runtime.core.IContext" name="context"/>
        <outputParameters javaType="void"/>
      </info>
    </children>
    <children id="resultAssignment1" name="结果赋值">
      <info xsi:type="flow2:ResultAssignmentInfo" assignmentType="REFERENCE" resultType="com.hundsun.jres.interfaces.share.dataset.IDataset" expression="Result:downloadService.action_result"/>
    </children>
  </unit>
</service2:ServiceModel>
