<?xml version="1.0" encoding="UTF-8"?>
<service2:ServiceModel xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:flow2="http://www.hundsun.com/ares/studio/jres/flow2" xmlns:service2="http://www.hundsun.com/ares/studio/jres/service2" xmi:id="_snIVoKqeEd-E9O-ihdIKYg" outputCollection="true" outputCollectionID="def_action" name="查询类别">
  <inputDefines xmi:id="_ab7xoL8EEd-DR6iJRWtnzg" id="resCode" javaType="String">
    <defaultValue2 xmi:id="_ab7xob8EEd-DR6iJRWtnzg"/>
  </inputDefines>
  <inputDefines xmi:id="_bjCjoL8EEd-DR6iJRWtnzg" id="opCode" javaType="String">
    <defaultValue2 xmi:id="_bjCjob8EEd-DR6iJRWtnzg"/>
  </inputDefines>
  <inputDefines id="start" javaType="String">
    <defaultValue2/>
  </inputDefines>
  <inputDefines id="limit" javaType="String">
    <defaultValue2/>
  </inputDefines>
  <inputDefines id="kind_code" type="TCode" javaType="String" name="类别代码" stdField="true">
    <defaultValue2/>
  </inputDefines>
  <inputDefines id="kind_name" type="TName" javaType="String" name="类别名称" stdField="true">
    <defaultValue2/>
  </inputDefines>
  <inputDefines id="kind_type" javaType="String">
    <defaultValue2/>
  </inputDefines>
  <inputDefines id="mnemonic" type="TShortCode" javaType="String" name="助记符" stdField="true">
    <defaultValue2/>
  </inputDefines>
  <inputDefines id="remark" type="TDesc" javaType="String" name="备注" stdField="true" description="模板位置">
    <defaultValue2/>
  </inputDefines>
  <inputDefines id="parent_code" javaType="String">
    <defaultValue2/>
  </inputDefines>
  <outputDefines xmi:id="__5SZYL8DEd-DR6iJRWtnzg" id="kind_code" type="TCode" javaType="String" name="类别代码" stdField="true">
    <defaultValue2 xmi:id="__5SZYb8DEd-DR6iJRWtnzg"/>
  </outputDefines>
  <outputDefines xmi:id="_A3DpML8EEd-DR6iJRWtnzg" id="kind_name" type="TName" javaType="String" name="类别名称" stdField="true">
    <defaultValue2 xmi:id="_A3DpMb8EEd-DR6iJRWtnzg"/>
  </outputDefines>
  <outputDefines xmi:id="_EGO68L8EEd-DR6iJRWtnzg" id="parent_code" javaType="String">
    <defaultValue2 xmi:id="_EGO68b8EEd-DR6iJRWtnzg"/>
  </outputDefines>
  <outputDefines id="kind_type" javaType="String">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="mnemonic" type="TShortCode" javaType="String" name="助记符" stdField="true">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="parent_name" javaType="String">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="tree_idx" javaType="String">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="remark" type="TDesc" javaType="String" name="备注" stdField="true" description="模板位置">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="platform" type="TDict" javaType="String" name="平台标志" stdField="true" description="用于表示此记录是否平台设置&#xA;取数据字典[sys_biz_platform]&#xA;0-应用&#xA;1-平台">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="platform_name" javaType="String" name="平台标识名称">
    <defaultValue2/>
  </outputDefines>
  <unit xmi:id="_snIVtKqeEd-E9O-ihdIKYg" id="7">
    <info xsi:type="flow2:LogicUnitInfo" xmi:id="_snIVtaqeEd-E9O-ihdIKYg"/>
    <children xmi:id="_ADUZQLtNEd-QvbuVze7XEQ" id="action_3" name="action_3">
      <info xsi:type="flow2:ComponentMethodInfo" xmi:id="_ADUZQrtNEd-QvbuVze7XEQ" fullyQualifiedName="bizframe.kind.kindService" methodName="action">
        <inputParameters xmi:id="_ADUZQ7tNEd-QvbuVze7XEQ" id="context" javaType="com.hundsun.jres.interfaces.bizkernel.runtime.core.IContext" name="context"/>
        <outputParameters xmi:id="_ADUZRLtNEd-QvbuVze7XEQ" id="action_result" javaType="com.hundsun.jres.interfaces.share.dataset.IDataset"/>
      </info>
    </children>
    <children xmi:id="_Aa3WkLtNEd-QvbuVze7XEQ" id="resultAssignment1" name="resultAssignment1">
      <info xsi:type="flow2:ResultAssignmentInfo" xmi:id="_Aa3WkbtNEd-QvbuVze7XEQ" resultSet="true" resultType="com.hundsun.jres.interfaces.share.dataset.IDataset" expression="Result:action_3.action_result"/>
    </children>
  </unit>
</service2:ServiceModel>
