<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:flow2="http://www.hundsun.com/ares/studio/jres/flow2" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.1/notation" xmlns:service2="http://www.hundsun.com/ares/studio/jres/service2">
  <service2:ServiceModel xmi:id="_sonjYKqeEd-E9O-ihdIKYg" name="修改类别">
    <unit xmi:type="flow2:LogicUnit" xmi:id="_sonjaKqeEd-E9O-ihdIKYg" id="110">
      <info xmi:type="flow2:LogicUnitInfo" xmi:id="_sonjaaqeEd-E9O-ihdIKYg"/>
      <children xmi:type="flow2:FlowNode" xmi:id="_GfoVYLtNEd-QvbuVze7XEQ" id="action_4" name="action_4">
        <info xmi:type="flow2:ComponentMethodInfo" xmi:id="_GfxfULtNEd-QvbuVze7XEQ" fullyQualifiedName="bizframe.kind.kindService" methodName="action">
          <inputParameters xmi:type="flow2:InputParameter" xmi:id="_GfxfUbtNEd-QvbuVze7XEQ" id="context" javaType="com.hundsun.jres.interfaces.bizkernel.runtime.core.IContext" name="context"/>
          <outputParameters xmi:type="flow2:OutputParameter" xmi:id="_GfxfUrtNEd-QvbuVze7XEQ" id="action_result" javaType="com.hundsun.jres.interfaces.share.dataset.IDataset"/>
        </info>
      </children>
    </unit>
  </service2:ServiceModel>
  <notation:Diagram xmi:id="_mKRkJrmKEd-eKZUAhVw9Zw" type="Flow2" element="_sonjYKqeEd-E9O-ihdIKYg" measurementUnit="Pixel">
    <children xmi:type="notation:Node" xmi:id="_mP8HQLmKEd-eKZUAhVw9Zw" type="1001" element="_sonjaKqeEd-E9O-ihdIKYg">
      <children xmi:type="notation:Node" xmi:id="_mP8HQ7mKEd-eKZUAhVw9Zw" type="5001">
        <children xmi:type="notation:Node" xmi:id="_GfxfU7tNEd-QvbuVze7XEQ" type="2001" element="_GfoVYLtNEd-QvbuVze7XEQ">
          <children xmi:type="notation:Node" xmi:id="_GfxfVrtNEd-QvbuVze7XEQ" type="4001"/>
          <children xmi:type="notation:Node" xmi:id="_GfxfV7tNEd-QvbuVze7XEQ" type="5002">
            <styles xmi:type="notation:DrawerStyle" xmi:id="_GfxfWLtNEd-QvbuVze7XEQ"/>
            <styles xmi:type="notation:SortingStyle" xmi:id="_GfxfWbtNEd-QvbuVze7XEQ"/>
            <styles xmi:type="notation:FilteringStyle" xmi:id="_GfxfWrtNEd-QvbuVze7XEQ"/>
          </children>
          <styles xmi:type="notation:ShapeStyle" xmi:id="_GfxfVLtNEd-QvbuVze7XEQ" fontName="宋体"/>
          <layoutConstraint xmi:type="notation:Bounds" xmi:id="_GfxfVbtNEd-QvbuVze7XEQ"/>
        </children>
        <styles xmi:type="notation:SortingStyle" xmi:id="_mP8HRLmKEd-eKZUAhVw9Zw"/>
        <styles xmi:type="notation:FilteringStyle" xmi:id="_mP8HRbmKEd-eKZUAhVw9Zw"/>
      </children>
      <styles xmi:type="notation:ShapeStyle" xmi:id="_mP8HQbmKEd-eKZUAhVw9Zw" fontName="宋体"/>
      <layoutConstraint xmi:type="notation:Bounds" xmi:id="_mP8HQrmKEd-eKZUAhVw9Zw"/>
    </children>
    <styles xmi:type="notation:DiagramStyle" xmi:id="_mKRkJ7mKEd-eKZUAhVw9Zw"/>
  </notation:Diagram>
</xmi:XMI>
