<?xml version="1.0" encoding="UTF-8"?>
<service2:ServiceModel xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:flow2="http://www.hundsun.com/ares/studio/jres/flow2" xmlns:service2="http://www.hundsun.com/ares/studio/jres/service2" xmi:id="_fAWNoLpGEd-KNafjYSBNnQ" outputCollection="true" outputCollectionID="def_action" name="查询角色">
  <inputDefines id="resCode" javaType="String">
    <defaultValue2/>
  </inputDefines>
  <inputDefines id="opCode" javaType="String">
    <defaultValue2/>
  </inputDefines>
  <outputDefines id="role_code" type="TCode" javaType="String" name="角色代码" stdField="true">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="role_name" type="TName" javaType="String" name="角色名称" stdField="true">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="right_flag" type="TDict" javaType="String" name="授权标志" stdField="true" description="用于表示该授权的操作授权标志&#xA;取数据字典[sys_biz_right_flag]&#xA;0-禁止&#xA;1-操作&#xA;2-授权&#xA;3-全部">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="rflag_name" javaType="String">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="remark" type="TDesc" javaType="String" name="备注" stdField="true" description="模板位置">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="creator" javaType="String">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="creator_name" javaType="String">
    <defaultValue2/>
  </outputDefines>
  <unit xmi:id="_fAWNobpGEd-KNafjYSBNnQ">
    <info xsi:type="flow2:LogicUnitInfo" xmi:id="_fAWNorpGEd-KNafjYSBNnQ"/>
    <children xmi:id="_Tt7MkLtWEd-QvbuVze7XEQ" id="action_12" name="action_12">
      <info xsi:type="flow2:ComponentMethodInfo" xmi:id="_Tt7MkrtWEd-QvbuVze7XEQ" fullyQualifiedName="bizframe.authority.role.roleSvc" methodName="action">
        <inputParameters xmi:id="_Tt7Mk7tWEd-QvbuVze7XEQ" id="context" javaType="com.hundsun.jres.interfaces.bizkernel.runtime.core.IContext" name="context"/>
        <outputParameters xmi:id="_Tt7MlLtWEd-QvbuVze7XEQ" id="action_result" javaType="com.hundsun.jres.interfaces.share.dataset.IDataset"/>
      </info>
    </children>
    <children xmi:id="_UC7zQLtWEd-QvbuVze7XEQ" id="resultAssignment1" name="resultAssignment1">
      <info xsi:type="flow2:ResultAssignmentInfo" xmi:id="_UC7zQbtWEd-QvbuVze7XEQ" resultSet="true" resultType="com.hundsun.jres.interfaces.share.dataset.IDataset" expression="Result:action_12.action_result"/>
    </children>
  </unit>
</service2:ServiceModel>
