<?xml version="1.0" encoding="ASCII"?>
<service2:ServiceModel xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:flow2="http://www.hundsun.com/ares/studio/jres/flow2" xmlns:service2="http://www.hundsun.com/ares/studio/jres/service2" outputCollection="true" outputCollectionID="def_" name="&#x67e5;&#x8be2;&#x89d2;&#x8272;&#x7528;&#x6237;&#x5206;&#x914d;">
  <inputDefines id="resCode" javaType="String">
    <defaultValue2/>
  </inputDefines>
  <inputDefines id="opCode" javaType="String">
    <defaultValue2/>
  </inputDefines>
  <outputDefines id="auth_type_name" javaType="String">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="auth_type" javaType="String">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="user_id" javaType="String">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="user_name" type="TName" javaType="String" name="&#x7528;&#x6237;&#x540d;&#x79f0;">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="user_pwd" type="TCode" javaType="String" name="&#x767b;&#x5f55;&#x5bc6;&#x7801;">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="user_type" javaType="String">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="user_status" type="TDict" javaType="String" name="&#x7528;&#x6237;&#x72b6;&#x6001;" stdField="true" description="&#x7528;&#x4e8e;&#x8868;&#x793a;&#x6b64;&#x7528;&#x6237;&#x72b6;&#x6001;&#xA;&#x53d6;&#x6570;&#x636e;&#x5b57;&#x5178;[sys_biz_user_status]&#xA;0-&#x6b63;&#x5e38;&#xA;1-&#x6ce8;&#x9500;">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="lock_status" type="TDict" javaType="String" name="&#x9501;&#x5b9a;&#x72b6;&#x6001;" stdField="true" description="&#x7528;&#x4e8e;&#x8868;&#x793a;&#x6b64;&#x7528;&#x6237;&#x662f;&#x5426;&#x88ab;&#x9501;&#x5b9a;&#xA;&#x53d6;&#x6570;&#x636e;&#x5b57;&#x5178;[sys_biz_yes_or_no]&#xA;0-&#x5426;&#xA;1-&#x662f;">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="create_date" type="TIntDateTime" javaType="int" name="&#x521b;&#x5efa;&#x65f6;&#x95f4;" stdField="true">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="modify_date" type="TIntDateTime" javaType="int" name="&#x6700;&#x540e;&#x4fee;&#x6539;&#x65f6;&#x95f4;" stdField="true">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="pass_modify_date" javaType="int">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="remark" type="TDesc" javaType="String" name="&#x5907;&#x6ce8;" stdField="true" description="&#x6a21;&#x677f;&#x4f4d;&#x7f6e;">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="user_status_display" javaType="String">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="lock_status_display" javaType="String">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="user_type_display" javaType="String">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="ext_field_1" javaType="String">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="ext_field_2" javaType="String">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="ext_field_3" javaType="String">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="ext_field_4" javaType="String">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="ext_field_5" javaType="String">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="org_id" type="TStringID" javaType="String" name="&#x7ec4;&#x7ec7;&#x6807;&#x8bc6;" stdField="true">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="org_name" type="TName" javaType="String" name="&#x7ec4;&#x7ec7;&#x540d;&#x79f0;" stdField="true">
    <defaultValue2/>
  </outputDefines>
  <unit>
    <info xsi:type="flow2:LogicUnitInfo"/>
    <children id="action1" name="action" desc="action">
      <info xsi:type="flow2:ComponentMethodInfo" fullyQualifiedName="bizframe.authority.role.roleSvc" methodName="action">
        <inputParameters id="context" javaType="com.hundsun.jres.interfaces.bizkernel.runtime.core.IContext" name="context"/>
      </info>
    </children>
    <children id="resultAssignment1" name="&#x7ed3;&#x679c;&#x8d4b;&#x503c;">
      <info xsi:type="flow2:ResultAssignmentInfo" resultSet="true" resultType="com.hundsun.jres.interfaces.share.dataset.IDataset" expression="Result:action1.action_result"/>
    </children>
  </unit>
</service2:ServiceModel>
