<?xml version="1.0" encoding="ASCII"?>
<service2:ServiceModel xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:flow2="http://www.hundsun.com/ares/studio/jres/flow2" xmlns:service2="http://www.hundsun.com/ares/studio/jres/service2" name="&#x751f;&#x6210;&#x552f;&#x4e00;&#x4e1a;&#x52a1;&#x7f16;&#x7801;&#x670d;&#x52a1;">
  <inputDefines id="resCode" javaType="String">
    <defaultValue2/>
  </inputDefines>
  <inputDefines id="opCode" javaType="String">
    <defaultValue2/>
  </inputDefines>
  <inputDefines id="biz_type_code" type="TStringID" javaType="String" name="&#x4e1a;&#x52a1;&#x6570;&#x636e;&#x7c7b;&#x578b;&#x4ee3;&#x7801;" stdField="true" description="&#x4e1a;&#x52a1;&#x7c7b;&#x578b;&#x4ee3;&#x7801;">
    <defaultValue2/>
  </inputDefines>
  <outputDefines id="biz_code" javaType="String">
    <defaultValue2/>
  </outputDefines>
  <unit>
    <info xsi:type="flow2:LogicUnitInfo"/>
    <children id="generateUniqueCode1" name="generateUniqueCode" desc="generateUniqueCode">
      <info xsi:type="flow2:ComponentMethodInfo" fullyQualifiedName="bizframe.common.BizCommon" methodName="generateUniqueCode">
        <inputParameters id="context" javaType="com.hundsun.jres.interfaces.bizkernel.runtime.core.IContext" name="context"/>
      </info>
    </children>
    <children id="resultAssignment1" name="&#x7ed3;&#x679c;&#x8d4b;&#x503c;">
      <info xsi:type="flow2:ResultAssignmentInfo" resultSet="true" resultType="com.hundsun.jres.interfaces.share.dataset.IDataset" expression="Result:generateUniqueCode1.generateUniqueCode_result"/>
    </children>
  </unit>
</service2:ServiceModel>
