<?xml version="1.0" encoding="ASCII"?>
<service2:ServiceModel xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:flow2="http://www.hundsun.com/ares/studio/jres/flow2" xmlns:service2="http://www.hundsun.com/ares/studio/jres/service2" name="signOutService">
  <unit>
    <info xsi:type="flow2:LogicUnitInfo"/>
    <children id="signOutService1" name="signOutService" desc="signOutService">
      <info xsi:type="flow2:ComponentMethodInfo" fullyQualifiedName="bizframe.authority.user.userLoginComponent" methodName="signOutService">
        <inputParameters id="request" javaType="com.hundsun.jres.interfaces.share.dataset.IDataset" name="request"/>
      </info>
    </children>
    <children id="resultAssignment1" name="&#x7ed3;&#x679c;&#x8d4b;&#x503c;">
      <info xsi:type="flow2:ResultAssignmentInfo" resultSet="true" resultType="com.hundsun.jres.interfaces.share.dataset.IDataset" expression="Result:signOutService1.signOutService_result"/>
    </children>
  </unit>
</service2:ServiceModel>
