<?xml version="1.0" encoding="ASCII"?>
<service2:ServiceModel xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:flow2="http://www.hundsun.com/ares/studio/jres/flow2" xmlns:service2="http://www.hundsun.com/ares/studio/jres/service2" name="&#x7528;&#x6237;&#x6743;&#x9650;&#x5904;&#x7406;">
  <inputDefines id="resCode" javaType="String">
    <defaultValue2/>
  </inputDefines>
  <inputDefines id="opCode" javaType="String">
    <defaultValue2/>
  </inputDefines>
  <unit>
    <info xsi:type="flow2:LogicUnitInfo"/>
    <children id="action1" name="action" desc="action">
      <info xsi:type="flow2:ComponentMethodInfo" fullyQualifiedName="bizframe.authority.user.userRightComponent" methodName="action">
        <inputParameters id="context" javaType="com.hundsun.jres.interfaces.bizkernel.runtime.core.IContext" name="context"/>
      </info>
    </children>
  </unit>
</service2:ServiceModel>
