<?xml version="1.0" encoding="ASCII"?>
<service2:ServiceModel xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:flow2="http://www.hundsun.com/ares/studio/jres/flow2" xmlns:service2="http://www.hundsun.com/ares/studio/jres/service2" name="DownLoadExcel">
  <inputDefines id="serviceId" javaType="String" name="serviceId">
    <defaultValue2/>
  </inputDefines>
  <unit>
    <info xsi:type="flow2:LogicUnitInfo"/>
    <children id="exportDataToExcel1" name="exportDataToExcel" desc="exportDataToExcel">
      <info xsi:type="flow2:ComponentMethodInfo" fullyQualifiedName="download.FileDownLoad" methodName="exportDataToExcel">
        <inputParameters id="context" javaType="com.hundsun.jres.interfaces.bizkernel.runtime.core.IContext" name="context"/>
        <inputParameters id="serviceId" javaType="String" name="serviceId"/>
      </info>
    </children>
  </unit>
</service2:ServiceModel>
