<?xml version="1.0" encoding="UTF-8"?>
<service2:ServiceModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:flow2="http://www.hundsun.com/ares/studio/jres/flow2" xmlns:service2="http://www.hundsun.com/ares/studio/jres/service2" name="ExportDataToPDFByForm">
  <inputDefines id="templatePath" javaType="String">
    <defaultValue2/>
  </inputDefines>
  <unit>
    <info xsi:type="flow2:LogicUnitInfo"/>
    <children id="exportDataToPdfByRequestData1" name="exportDataToPdfByRequestData" desc="exportDataToPdfByRequestData">
      <info xsi:type="flow2:ComponentMethodInfo" fullyQualifiedName="download.FileDownLoad" methodName="exportDataToPdfByRequestData">
        <inputParameters id="arg0" javaType="com.hundsun.jres.interfaces.bizkernel.runtime.core.IContext" name="arg0"/>
        <inputParameters id="arg1" javaType="String" name="arg1" userValue="Input:templatePath"/>
      </info>
    </children>
  </unit>
</service2:ServiceModel>
