<?xml version="1.0" encoding="UTF-8"?>
<service2:ServiceModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:flow2="http://www.hundsun.com/ares/studio/jres/flow2" xmlns:service2="http://www.hundsun.com/ares/studio/jres/service2" name="新增菜单" description="新增菜单">
  <unit>
    <info xsi:type="flow2:LogicUnitInfo"/>
    <children id="action_14" name="action_14">
      <info xsi:type="flow2:ComponentMethodInfo" fullyQualifiedName="bizframe.authority.menu.menuService" methodName="action">
        <inputParameters id="context" javaType="com.hundsun.jres.interfaces.bizkernel.runtime.core.IContext" name="context"/>
        <outputParameters id="action_result" javaType="com.hundsun.jres.interfaces.share.dataset.IDataset"/>
      </info>
    </children>
    <children id="result" name="结果赋值">
      <info xsi:type="flow2:ResultAssignmentInfo" assignmentType="REFERENCE" resultType="com.hundsun.jres.interfaces.share.dataset.IDataset" expression="Result:action_14.action_result"/>
    </children>
  </unit>
</service2:ServiceModel>
