<?xml version="1.0" encoding="ASCII"?>
<service2:ServiceModel xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:flow2="http://www.hundsun.com/ares/studio/jres/flow2" xmlns:service2="http://www.hundsun.com/ares/studio/jres/service2" name="&#x83b7;&#x53d6;&#x7528;&#x6237;&#x6240;&#x6709;&#x7684;&#x6743;&#x9650;">
  <inputDefines id="userId" javaType="String">
    <defaultValue2/>
  </inputDefines>
  <outputDefines id="sub_trans_code" javaType="String">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="right_flag" type="TDict" javaType="String" name="&#x6388;&#x6743;&#x6807;&#x5fd7;" stdField="true" description="&#x7528;&#x4e8e;&#x8868;&#x793a;&#x8be5;&#x6388;&#x6743;&#x7684;&#x64cd;&#x4f5c;&#x6388;&#x6743;&#x6807;&#x5fd7;&#xA;&#x53d6;&#x6570;&#x636e;&#x5b57;&#x5178;[sys_biz_right_flag]&#xA;0-&#x7981;&#x6b62;&#xA;1-&#x64cd;&#x4f5c;&#xA;2-&#x6388;&#x6743;&#xA;3-&#x5168;&#x90e8;">
    <defaultValue2/>
  </outputDefines>
  <outputDefines id="trans_code" javaType="String">
    <defaultValue2/>
  </outputDefines>
  <unit>
    <info xsi:type="flow2:LogicUnitInfo"/>
    <children id="getUserRights1" name="getUserRights" desc="getUserRights">
      <info xsi:type="flow2:ComponentMethodInfo" fullyQualifiedName="bizframe.authority.right.rightQuryComponent" methodName="getUserRights">
        <inputParameters id="context" javaType="com.hundsun.jres.interfaces.bizkernel.runtime.core.IContext" name="context"/>
      </info>
    </children>
    <children id="resultAssignment1" name="&#x7ed3;&#x679c;&#x8d4b;&#x503c;">
      <info xsi:type="flow2:ResultAssignmentInfo" assignmentType="REFERENCE" resultType="com.hundsun.jres.interfaces.share.dataset.IDataset" expression="Result:getUserRights1.getUserRights_result"/>
    </children>
  </unit>
</service2:ServiceModel>
