<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:flow2="http://www.hundsun.com/ares/studio/jres/flow2" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.1/notation" xmlns:service2="http://www.hundsun.com/ares/studio/jres/service2">
  <service2:ServiceModel xmi:id="_ehtlMLlnEd-zWf8YitF-aQ" name="新增部门" desc="新增部门" inputCollection="true">
    <inputDefines xmi:type="flow2:InputParameterDefine" xmi:id="_f5NjoLlnEd-zWf8YitF-aQ" id="depCode" javaType="String">
      <defaultValue2 xmi:type="flow2:ParameterValue" xmi:id="_O6FdIv3QEd-coM7C16WdFw"/>
    </inputDefines>
    <inputDefines xmi:type="flow2:InputParameterDefine" xmi:id="_go0boLlnEd-zWf8YitF-aQ" id="depName" javaType="String">
      <defaultValue2 xmi:type="flow2:ParameterValue" xmi:id="_O6FdI_3QEd-coM7C16WdFw"/>
    </inputDefines>
    <inputDefines xmi:type="flow2:InputParameterDefine" xmi:id="_jUFvELlnEd-zWf8YitF-aQ" id="shortName" javaType="String">
      <defaultValue2 xmi:type="flow2:ParameterValue" xmi:id="_O6FdJP3QEd-coM7C16WdFw"/>
    </inputDefines>
    <inputDefines xmi:type="flow2:InputParameterDefine" xmi:id="_ksnoQLlnEd-zWf8YitF-aQ" id="parentCode" javaType="String">
      <defaultValue2 xmi:type="flow2:ParameterValue" xmi:id="_O6FdJf3QEd-coM7C16WdFw"/>
    </inputDefines>
    <inputDefines xmi:type="flow2:InputParameterDefine" xmi:id="_lw6W0LlnEd-zWf8YitF-aQ" id="branchCode" javaType="String">
      <defaultValue2 xmi:type="flow2:ParameterValue" xmi:id="_O6FdJv3QEd-coM7C16WdFw"/>
    </inputDefines>
    <inputDefines xmi:type="flow2:InputParameterDefine" xmi:id="_m63ogLlnEd-zWf8YitF-aQ" id="remark" javaType="String">
      <defaultValue2 xmi:type="flow2:ParameterValue" xmi:id="_O6FdJ_3QEd-coM7C16WdFw"/>
    </inputDefines>
    <unit xmi:type="flow2:LogicUnit" xmi:id="_ehtlMblnEd-zWf8YitF-aQ">
      <info xmi:type="flow2:LogicUnitInfo" xmi:id="_ehtlMrlnEd-zWf8YitF-aQ"/>
      <children xmi:type="flow2:FlowNode" xmi:id="_vbAdkLlnEd-zWf8YitF-aQ" id="addService" name="addService">
        <info xmi:type="flow2:ComponentMethodInfo" xmi:id="_vbAdkrlnEd-zWf8YitF-aQ" fullyQualifiedName="bizframe.authority.department.SysDepService" methodName="action">
          <inputParameters xmi:type="flow2:InputParameter" xmi:id="_8NcL4FCREeCZqvmRaLmqww" id="context" javaType="com.hundsun.jres.interfaces.bizkernel.runtime.core.IContext" name="context"/>
          <outputParameters xmi:type="flow2:OutputParameter" xmi:id="_vbAdlLlnEd-zWf8YitF-aQ"/>
        </info>
      </children>
    </unit>
  </service2:ServiceModel>
  <notation:Diagram xmi:id="_ejpe47lnEd-zWf8YitF-aQ" type="Flow2" element="_ehtlMLlnEd-zWf8YitF-aQ" measurementUnit="Pixel">
    <children xmi:type="notation:Node" xmi:id="_uS17oLlnEd-zWf8YitF-aQ" type="1001" element="_ehtlMblnEd-zWf8YitF-aQ">
      <children xmi:type="notation:Node" xmi:id="_uS_soLlnEd-zWf8YitF-aQ" type="5001">
        <children xmi:type="notation:Node" xmi:id="_vbKOkLlnEd-zWf8YitF-aQ" type="2001" element="_vbAdkLlnEd-zWf8YitF-aQ">
          <children xmi:type="notation:Node" xmi:id="_vbKOk7lnEd-zWf8YitF-aQ" type="4001"/>
          <children xmi:type="notation:Node" xmi:id="_vbKOlLlnEd-zWf8YitF-aQ" type="5002">
            <styles xmi:type="notation:DrawerStyle" xmi:id="_vbKOlblnEd-zWf8YitF-aQ"/>
            <styles xmi:type="notation:SortingStyle" xmi:id="_vbKOlrlnEd-zWf8YitF-aQ"/>
            <styles xmi:type="notation:FilteringStyle" xmi:id="_vbKOl7lnEd-zWf8YitF-aQ"/>
          </children>
          <styles xmi:type="notation:ShapeStyle" xmi:id="_vbKOkblnEd-zWf8YitF-aQ"/>
          <layoutConstraint xmi:type="notation:Bounds" xmi:id="_vbKOkrlnEd-zWf8YitF-aQ"/>
        </children>
        <styles xmi:type="notation:SortingStyle" xmi:id="_uS_soblnEd-zWf8YitF-aQ"/>
        <styles xmi:type="notation:FilteringStyle" xmi:id="_uS_sorlnEd-zWf8YitF-aQ"/>
      </children>
      <styles xmi:type="notation:ShapeStyle" xmi:id="_uS17oblnEd-zWf8YitF-aQ"/>
      <layoutConstraint xmi:type="notation:Bounds" xmi:id="_uS17orlnEd-zWf8YitF-aQ"/>
    </children>
    <styles xmi:type="notation:DiagramStyle" xmi:id="_ejpe5LlnEd-zWf8YitF-aQ"/>
  </notation:Diagram>
</xmi:XMI>
